<div class="m-auto text-center p-3">
        <h1 class="text-uppercase fw-bold">{{ title }}</h1>
</div>

<div class="row g-4 w-75 m-auto justify-content-start">
    {{#each posts}}
        {{#ifEquals this.isVerified true}}
            <div class="col-md-4">
                <div class="card h-100" style="width: 18rem;">
                    <div id="imgCarousel{{@index}}" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            {{#each this.houseImages}}
                                {{#ifEquals @index 0}}
                                    <div class="carousel-item active"> 
                                {{else}}
                                    <div class="carousel-item"> 
                                {{/ifEquals}}
                                        <img src="/houseImages/{{this}}" class="d-block w-100" alt="...">
                                    </div>
                            {{/each}}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#imgCarousel{{@index}}" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#imgCarousel{{@index}}" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                        
                    <div class="card-body">
                        <h5 class="card-title">{{ this.subject }}</h5>
                        <p class="card-text">{{ this.description }}</p>
                        <p class="card-text">$ {{ this.price }}</p>
                    </div>
                </div>
            </div>
        {{/ifEquals}}
    {{/each}}
    
</div>